extends: default

rules:
  line-length: disable
  indentation:
    ## toYaml in Helm templates can produce indentation that yamllint considers incorrect
    ## but is actually valid YAML. 'whatever' allows both block and flow list styles.
    indent-sequences: whatever
