{{- if not .Values.useStatefulSet }}
{{- $nodesCount := int .Values.nodesCount }}
{{- range $i := until $nodesCount }}
{{- $deploymentSuffix := printf "node-%d" $i }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ $.Release.Namespace }}
  name: {{ include "fbcore.fullname" $ }}-{{ $deploymentSuffix }}
  labels:
    {{- include "fbcore.labels" $ | nindent 4 }}
    firebolt/nodes-count: {{ $.Values.nodesCount | quote }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "fbcore.selectorLabels" $ | nindent 6 }}
      firebolt/node: {{ $i | quote }}
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/nodes-config.yaml") $ | sha256sum }}
      labels:
        {{- include "fbcore.labels" $ | nindent 8 }}
        firebolt/node: {{ $i | quote }}
        # NOTE: this label forces the replacement of all pods when scaling up/down
        firebolt/nodes-count: {{ $nodesCount | quote }}
    spec:
      {{- if $.Values.priorityClassNode0 }}
      {{- if eq $i 0 }}
      priorityClassName: {{ $.Values.priorityClassNode0 }}
      {{- else }}
      priorityClassName: {{ $.Values.priorityClassNodeN }}
      {{- end }}
      {{- end }}
      serviceAccount: {{ $.Values.serviceAccount }}
      serviceAccountName: {{ $.Values.serviceAccount }}
      terminationGracePeriodSeconds: {{ $.Values.deployment.terminationGracePeriodSeconds }}
      {{- if $.Values.nonRoot }}
      securityContext:
        fsGroup: 1111
      {{- end }}
      {{- if and $.Values.memlockSetup $.Values.nonRoot }}
      shareProcessNamespace: true
      {{- end }}
      {{- with $.Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $.Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $.Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      containers:
        - name: core
          image: {{ $.Values.image.repository }}:{{  default $.Chart.AppVersion $.Values.image.tag }}
          imagePullPolicy: Always
          env:
            - name: FIREBOLT_CORE_NODE
              value: {{ $i | quote }}
            - name: POD_UID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.uid
          command: ["/bin/bash", "-c"]
          tty: true
          stdin: true
          args:
            - |
              REQUIRED_MEMLOCK_BYTES=8589934592 # 8GB
              function get_memlock_limit() {
                cat /proc/self/limits | grep -F 'Max locked memory' | awk '{print $4}'
              }

              function needs_memlock_setup() {
                # Expected: 'unlimited' or a number in bytes.
                local CURRENT_MEMLOCK_VALUE=$(get_memlock_limit)

                if [ "$CURRENT_MEMLOCK_VALUE" = "unlimited" ]; then
                  return 1
                fi
                if [ "$CURRENT_MEMLOCK_VALUE" -ge "$REQUIRED_MEMLOCK_BYTES" ]; then
                  return 1
                fi

                # memlock setup is necessary
                return 0
              }

              echo -n "[Setup] Firebolt Core version "
              /firebolt-core/firebolt-core --version

              {{- if $.Values.nonRoot }}
              if [[ $(id -u) -eq 0 ]]; then
                echo "[Setup] Core container is running as root, however deployment used nonRoot=false" 1>&2
                exit 4
              fi

              {{- if $.Values.memlockSetup }}
              echo "[Setup] Core entrypoint PID: $BASHPID"
              rm -f /firebolt-core/volume/entrypoint-*.pid
              PID_FILE="/firebolt-core/volume/entrypoint-$POD_UID.pid"
              echo "$BASHPID" > "$PID_FILE"
              trap "rm -f $PID_FILE" EXIT

              ## wait until memlock limits are changed by the helper container
              CURRENT_MEMLOCK_VALUE=$(get_memlock_limit)
              echo "[Setup] current soft memlock limit: $CURRENT_MEMLOCK_VALUE (will wait for limits to be upgraded if below 8GB)" 1>&2
              while needs_memlock_setup; do
                sleep 0.2
              done
              {{- end }}
              {{- else }}
              if [[ $(id -u) -ne 0 ]]; then
                echo "[Setup] Core container is not running as root, however deployment used nonRoot=true" 1>&2
                exit 4
              fi

              {{- if $.Values.memlockSetup }}
              ## NOTE: no 'ulimit' call happens here because root images support is deprecated
              echo "WARNING: memlockSetup=true is unnecessary with nonRoot=false" 1>&2
              {{- end }}

              {{- end }}
              echo "[Setup] current memlock limit:" 1>&2
              cat /proc/self/limits | grep -F 'Max locked memory' 1>&2

              rm -f "$PID_FILE"

              exec /firebolt-core/firebolt-core --node $FIREBOLT_CORE_NODE
          ports:
            - name: http-query
              containerPort: 3473
              protocol: TCP
            - name: health
              containerPort: 8122
              protocol: TCP
            - name: execp
              containerPort: 5678
              protocol: TCP
            - name: datacp
              containerPort: 16000
              protocol: TCP
            - name: storage-manager
              containerPort: 1717
              protocol: TCP
            - name: storage-agent
              containerPort: 3434
              protocol: TCP
            - name: metadata
              containerPort: 6500
              protocol: TCP
            - name: metrics
              containerPort: 9090
              protocol: TCP
          livenessProbe:
            initialDelaySeconds: 30
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 6
            httpGet:
              path: /health/live
              port: 8122
          {{- if $.Values.readiness }}
          readinessProbe:
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 6
            httpGet:
              path: /health/ready
              port: 8122
          {{- end }}
          resources:
              {{- toYaml $.Values.resources | nindent 12 }}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - name: {{ include "fbcore.pvc_prefix" $ }}{{ if $.Values.nonRoot }}-nr{{ end }}
              mountPath: /firebolt-core/volume
            - name: nodes-config
              mountPath: /firebolt-core/config.json
              subPath: config.json
              readOnly: true
          securityContext:
            readOnlyRootFilesystem: false
            {{- if $.Values.nonRoot }}
            runAsNonRoot: true
            runAsUser: 1111
            runAsGroup: 1111
            {{- end }}
            allowPrivilegeEscalation: false
            capabilities:
              {{- toYaml $.Values.securityContextCapabilities | nindent 14 }}
        {{- if $.Values.uiSidecar }}
        - name: core-ui
          image: ghcr.io/firebolt-db/firebolt-core-ui:latest
          imagePullPolicy: Always
          env:
            - name: FIREBOLT_CORE_URL
              value: http://localhost:3473
          ports:
            - containerPort: 9100
              name: web-ui
              protocol: TCP
          resources:
            limits:
              memory: 128Mi
            requests:
              cpu: 25m
              memory: 128Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
            # Prevents the container from running as root
            runAsNonRoot: true
            # Sets the user and group ID for the container process
            runAsUser: 1111
            runAsGroup: 1111
          volumeMounts:
            - name: nginx-writable-dir
              mountPath: /var/tmp
            - name: nginx-writable-dir
              mountPath: /var/cache/nginx
            - name: nginx-writable-dir
              mountPath: /var/run/nginx
        {{- end }}
        {{- if and $.Values.memlockSetup $.Values.nonRoot }}
        - name: memlock-setup
          # use an image which has 'prlimit'
          image: {{ $.Values.utilitiesImage }}
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              memory: 64Mi
          securityContext:
            runAsUser: 0
            capabilities:
              drop:
                - ALL
              add:
                - SYS_RESOURCE
          env:
            - name: POD_UID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.uid
          command: ["/bin/bash", "-c"]
          args:
            - |
              {{- include "fbcore.memlockSetupScript" $ | nindent 14 }}
          volumeMounts:
            - name: {{ include "fbcore.pvc_prefix" $ }}{{ if $.Values.nonRoot }}-nr{{ end }}
              mountPath: /firebolt-core/volume
        {{- end }}
      volumes:
        {{- if $.Values.uiSidecar }}
        - name: nginx-writable-dir
          emptyDir: {}
        {{- end }}
        - name: nodes-config
          configMap:
            name: {{ include "fbcore.fullname" $ }}-nodes-config
            items:
              - key: config.json
                path: config.json
        {{- with $.Values.customVolumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- $hpEnabled := $.Values.deployment.hostPathStorageEnabled }}
        {{- if $hpEnabled }}
        - name: {{ include "fbcore.pvc_prefix" $ }}{{ if $.Values.nonRoot }}-nr{{ end }}
          hostPath:
            path: {{ $.Values.deployment.storageHostPath.path }}
            type: {{ default "DirectoryOrCreate" $.Values.deployment.storageHostPath.type }}
        {{- else }}
        - name: {{ include "fbcore.pvc_prefix" $ }}{{ if $.Values.nonRoot }}-nr{{ end }}
          persistentVolumeClaim:
            claimName: {{ include "fbcore.pvc_prefix" $ }}{{ if $.Values.nonRoot }}-nr{{ end }}-{{ $deploymentSuffix }}
        {{- end }}
{{- if or $hpEnabled $.Values.customInitContainersTemplate }}
      initContainers:
        {{- if $.Values.customInitContainersTemplate }}
        {{- tpl (toYaml $.Values.customInitContainersTemplate) $ | nindent 8 }}
        {{- end }}
        {{- if $hpEnabled }}
        - name: host-path-setup
          image: {{ $.Values.utilitiesImage }}
          imagePullPolicy: Always
          command: ["/bin/bash", "-c"]
          args:
            - |
              echo "[Setup] changing ownership of /firebolt-core/volume to UID 1111"
              chown -R 1111:1111 /firebolt-core/volume
          resources:
            limits:
              memory: 24Mi
            requests:
              cpu: 25m
              memory: 24Mi
          securityContext:
            runAsUser: 0
            capabilities:
              drop:
                - ALL
              add:
                - CHOWN
          volumeMounts:
            - name: {{ include "fbcore.pvc_prefix" $ }}{{ if $.Values.nonRoot }}-nr{{ end }}
              mountPath: /firebolt-core/volume
        {{- end }}
{{- end }}

{{- end }}
{{- end }}


