apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "fbcore.fullname" . }}-nodes-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "fbcore.labels" . | nindent 4 }}
data:
  config.json: |
    {
      {{- if .Values.customNodeConfig -}}
      {{ .Values.customNodeConfig | toJson | trimSuffix "}" | trimPrefix "{" | nindent 6 }},
      {{- end }}
      "nodes": [
        {{- $nodeCount := int .Values.nodesCount }}
        {{- range $i := until $nodeCount }}
        {
          {{- if $.Values.useStatefulSet }}
          "host": "{{ include "fbcore.fullname" $ }}-{{ $i }}.{{ include "fbcore.fullname" $ }}-svc.{{ $.Release.Namespace }}.svc{{ $.Values.nodeHostSuffix }}"
          {{- else }}
          "host": "{{ include "fbcore.fullname" $ }}-{{ $i }}.{{ $.Release.Namespace }}.svc{{ $.Values.nodeHostSuffix }}"
          {{- end }}
        }{{ if lt $i (sub $nodeCount 1) }},{{ end }}
        {{- end }}
      ]
    }
